<mat-card class="card">
  <mat-card-title>{{card.name}}</mat-card-title>
  <mat-card-content>{{card.description}}</mat-card-content>
  <input matInput [matDatepicker]="picker" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker>{{card.dueDate}}</mat-datepicker>
  <mat-card-content>{{card.assignee}}</mat-card-content>
  <mat-card-actions>
    <button>Edit</button>
    <button>Remove</button>
  </mat-card-actions>
</mat-card>
