<mat-card class="card" (click)="expandCard()" [appStyleCardBackground]="card.dueDate" [isDone]="card.isDone">
  <mat-card-title *ngIf="card.isDone" [ngStyle]="{'text-decoration':'line-through'}">{{card.name}}</mat-card-title>
  <mat-card-title *ngIf="!card.isDone">{{card.name}}</mat-card-title>
  <ng-container *ngIf="isExpanded">
    <mat-card-content>{{card.description}}</mat-card-content>
    <mat-card-content *ngIf="card.dueDate" >{{ card.dueDate | date: 'mediumDate' }}</mat-card-content>
    <mat-card-content *ngIf="card.assignee">{{card.assignee.firstName}} {{card.assignee.lastName}}</mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent">Edit</button>
      <button mat-raised-button color="accent" (click)="onRemoveCard()">Remove</button>
    </mat-card-actions>
  </ng-container>
</mat-card>
